@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Poppins:wght@200;300&display=swap');
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: black;
}

/* HEADER STATIC */
.header-static{
    width: 100%;
    height: 40px;
    font-size: 14px;
    background-color: #3BA99C;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Montserrat';
    font-style: normal;
}

.header-static2{
    width: 95%;
    height: 160px;
    font-size: 14px;
    background-color: #3BA99C;
    display: none;
    align-items: start;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Montserrat';
    font-style: normal;
    margin-left: 35px;
}

.header-static p{
    margin-bottom: 0px;
}
.header-static-info{
    align-self: center;
}

.header-static-info2{
    align-self: flex-start;
}
.header-static .links-icons a{
    margin: 0 7px;
    font-size: 12px;
}



/*HEADER */
header {
    width: 100%;
    background-color: #FFFFFF;
}
.bg-body-tertiary {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
.nav-link {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: black;
}

.navbar-expand-lg .navbar-nav{
    width: 100%;
    display: flex;
    justify-content: space-around !important;
}
#part-two{
    display: flex;
    justify-content: space-between !important;
}
.navbar-brand {
    display: none;
}

@media (min-width:680px) and (max-width: 992px) {


    .container-fluid{
        display: grid!important;
        grid-template-columns: 30% 70%;
        flex-direction: row-reverse;
        flex-wrap: wrap;
    }
    .navbar-brand {
        display: grid;
    }
    #imgMovile{
        margin: auto;
    }
    .header-static{
        display: none;
    }
    
    #img-logo{
        display: none;

    }
    .content_img{
        display: none !important;
    }

    .header-static2{
        width: 95%;
        height: 160px;
        font-size: 14px;
        background-color: #3BA99C;
        display: flex;
        align-items: start;
        flex-direction: column;
        justify-content: space-around;
        font-family: 'Montserrat';
        font-style: normal;
        margin-left: 35px;
    }

    .header-static2 .links-icons{
        width: 95% !important;
        display: flex !important;
        justify-content: space-around !important;
        margin: 0 7px;
        font-size: 12px;
    }

    .header-static2 p{
        margin-left: 35px !important;
    }

    .navbar-expand-lg .navbar-nav {
        width: 100%;
        display: flex;
        justify-content: space-around !important;
        border-right: 2px solid #3BA99C;
    }

}

@media (max-width: 680px) {


    .container-fluid{
        display: grid!important;
        grid-template-columns: 30% 70%;
        flex-direction: row-reverse;
        flex-wrap: wrap;
    }
    .navbar-brand {
        display: grid;
    }
    #imgMovile{
        margin: auto;
    }
    .header-static{
        display: none;
    }
    
    #img-logo{
        display: none;

    }
    .content_img{
        display: none !important;
    }

    .navbar-expand-lg .navbar-nav {
        width: 100%;
        display: flex;
        justify-content: space-around !important;
        border:none !important;
    }

    .header-static2{
        width: 95%;
        height: 160px;
        font-size: 14px;
        background-color: #3BA99C;
        display: flex;
        align-items: start;
        flex-direction: column;
        justify-content: space-around;
        font-family: 'Montserrat';
        font-style: normal;
        margin-left: 35px;
    }

    .header-static2 .links-icons{
        width: 95% !important;
        display: flex !important;
        justify-content: space-around !important;
        margin: 0 7px;
        font-size: 12px;
    }

    .header-static2 p{
        margin-left: 35px !important;
    }

}

li{
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100% !important;
}

.dropdown-menu {
    border:none !important;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%) !important;
}

.content_img{
    display: flex;
    align-items: center;
}

button:not(:disabled) {
    cursor: pointer;
    width: 60px !important;
    border: none !important;
}

.navbar>.container-fluid{
    width: 95% !important;
}

li a{
    width: 100% !important;
}