


footer {
    width: 100%;
    height: 240px;
    display: flex;
    justify-content: space-around;
}

footer .contents-footer {
    width: 220px;
    text-align: left;
}

footer .contents-footer span {
    font-size: 13px;
    color: #9b9b9b;
}

footer .contents-footer span {
    font-size: 13px;
    color: #9b9b9b;
}

footer .contents-footer .body .icon {
    display: flex;
    align-items: center;
}

footer .contents-footer .body .icon i {
    font-size: 25px;
    padding-bottom: 22px;
}

footer .contents-footer .body .icon p {
    padding-bottom: 2px;
    width: 350px;
    padding-left: 10px;
}

footer .header hr {
    border-top: 5px solid #99f6c3;
    width: 5rem;
    display: flex;
    opacity: 0.9;
}

.footerStatic {
    position: relative;
    margin-top: 50px;
    width: 100%;
    height: 40px;
    background-color: #edebeb;
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerStatic  p{
    padding: 0;
    color: #989898;
    margin: 0;
}
.footerStatic img{
    height: 30px;;
}
.footerStatic  i{
    color: #989898;

    margin: 0px 5px;
}
.flecha {
    position: absolute;
    bottom: 32px;
    left: 95%;
    width: 50px;
    height: 50px;
    background-color: #99f6c3;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.flecha i {
    font-size: 30px;

}
/*TABLET*/
@media (max-width: 992px) {
    
    footer{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .contents-footer{
        align-self: start;
        justify-self: center;
        margin: 40px 0px;
    }

    .footerStatic {
        margin-top: 420px;
        width: 100%;
        position: relative;
        height: 30px;
        background-color: #e7e3e3;
    }
    
    .flecha {
        position: absolute;
    bottom: 22px;
    left: 92%;
    width: 50px;
    height: 50px;
    background-color: #99f6c3;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    }
    
    .flecha i {
        font-size: 30px;
    
    }
}

/*TELEFONO*/
@media (max-width: 430px) {
    
    footer{
        margin-top: 520px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contents-footer{
        align-self: center;
        justify-self: center;
        margin: 40px 0px;
    }

    .footerStatic {
        margin-top: 450px;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        height: 30px;
        background-color: #e7e3e3;
        text-align: center;
    }
    .footerStatic img{
        display: none;
    }
    .footerStatic .icons{
        display: none;
    }
    .flecha {
        position: absolute;
    bottom: 22px;
    left: 85%;
    width: 50px;
    height: 50px;
    background-color: #99f6c3;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    }
    
    .flecha i {
        font-size: 30px;
    
    }
}